<h1>Contact Us</h1>

 <div align='center'>
 <table width='300px'>
   <tr>
     <td>Heather: </td> 
     <td><%= mail_to "heather.two4d@gmail.com", 'heather.two4d@gmail.com' %></td>
   </tr>
   <tr>
     <td>Webmaster: </td>
     <td><%= mail_to 'hkr.drm@gmx.com', 'hkr.drm@gmx.com' %></td>
   </tr>
 </table>
 </div>

