    <div class="btn-group">
      <button class="btn"><%= link_to "New Account", "/users/sign_up" %></button>
      <button class="btn"><%= link_to "Shipping Info", '/checkout/s1_shipping' %></button>
    </div>
