<div class="navbar-inner">
<div class="container">
  <nav>
  <ul class="nav pull-right">
    <li><%= link_to "New Account", "/checkout/index" %></li>
    <li><%= link_to "Shipping Info", '/checkout/s1_shipping' %></li>
  </ul>
  </nav>
</div>
</div>
