    <div class="btn-group">
      <button class="btn"><%= link_to "Shipping Info", '/checkout/s1_shipping' %></button>
      <button class="btn"><%= link_to "Credit Card Info", '/checkout/s2_stripe' %></button>
    </div>
