@import "bootstrap";
body { 
  padding-top: 60px;
  //background: url('mangroveDiver.jpg');
}
a{
  text-shadow: darkgreen 0.08em 0.08em 0.2em;
}
.hero-unit td a {
  text-shadow: black 0.08em 0.08em 0.2em;
}
.hero-unit td:hover a:hover {
  color: red;
  background-color: rgba(0,0,0,0);
}
#orderTable td a {
  text-decoration: none;
  font-family:"Times New Roman",Georgia,Serif;
  text-shadow: white 0.08em 0.08em 0.2em;
}
table a{ text-shadow: lightgreen 0.1em 0.1em 0.2em; }
ul a{ text-shadow: lightgreen 0.1em 0.1em 0.2em; }
.navbar-inner li:hover a:hover { color: red; }
.navbar-inner li a { color: darkblue; }

.hero-unit{
  background-color: rgba(150,150,150,.50);
}


#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}
#popupPanel {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.90);
    margin: -1px 0;
}
#popupPanel .ui-btn {
  margin: 2em 15px;
}
