<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <H1>{Put Your Logo Here}</H1>
      <H2>Heather's T-Shirt Shop</H2>
      <nav>
        <ul class="nav pull-right">
	  <li><%= link_to "Home",	'/static_pages/home' %></li>
	  <li><%= link_to "Products",	'/products' %></li>
	  <li><%= link_to "Store",	'/store/index' %></li>
	  <li><%= link_to "Contact",	'/contact' %></li>
	</ul>
      </nav>
    </div>
  </div>
</header>
